body {
    font-family: Arial;
    background-color: lightskyblue;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
}

#title {
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#btn-start {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

#btn-controls {
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

#btn-fullscreen {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
}

#credits {
    font-size: 20px;
    color: #555;
    bottom: 0;
    position: absolute;
}